# ----------------------------
# Configuration
# ----------------------------
# Port number on which the server runs
PORT=4040
# Token use to authenticate the client, make sure it's something unique
TOKEN=YOUR_SECRET_TOKEN
# The time in milliseconds to wait before sending the notification
TRIGGER_DELAY=30000

# ntfy server URL (including topic), e.g. https://ntfy.example.com/home-alarm
NTFY_URL=https://ntfy.example.com/home-alarm
# ntfy access token for authentication
NTFY_TOKEN=YOUR_NTFY_ACCESS_TOKEN